extends layout

block content
    - nbsp = '&nbsp'
    p!= nbsp
    .container
        .jumbotron
            h1 Bootstrap Integrated!
            p Installed by npm and manually included minified version of css and js
            p
                a.btn.btn-primary.btn-lg(href='/', role='button') Learn more