doctype html
html(ng-app='todo')
    head
        title= title
        link(rel='stylesheet', href='/css/lib.min.css')
        script(src='/js/lib.min.js')
        script(src='/js/app.min.js')
    body(ng-controller='mainController')
        block content
        