doctype html
html(ng-app='todo')
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular.min.js')
        script(src='/js/todo.js')
    body(ng-controller='mainController')
        block content
        